<h2>เรียนคุณ {{fullname}}</h2>
<p>
    เว็บไซต์ MEBAG.COM ได้รับการร้องขอให้ รีเซ็ตรหัสผ่านบัญชีผู้ใช้ <br>
    บัญชี : {{username}} <br>
    รหัสผ่านใหม่ : {{password}} <br>

    ขอบคุณที่ใช้บริการ<br><br>
    หมายเหตุ * หากคุณไม่ได้ทำรายการนี้กรุณาติดต่อเจ้าหน้าที่
</p>