<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>MEBAG.COM | ระบบรับฝากหิ้วสินค้า</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../assets/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="../assets/css/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../assets/css/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="../assets/css/datatables.min.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="/"><i class="fa fa-home"></i>กลับหน้าหลัก</a></li>              
            </ul>
            <ul class="header-links pull-right">                        
                <li><a href="/admin/logout"><i class="fa fa-sign-out"></i> ออกจากระบบ</a></li>

            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation" style="background-color: #b9babc54">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                    <li class=""><a href="/admin/Dashboard">Dashboard</a></li>
                <li class=""><a href="/admin/managedealer">จัดการผู้รับหิ้ว</a></li>
                <li class=""><a href="/admin/payment">จัดการการจ่ายเงิน</a></li>
                <li><a href="/admin/tranfer"> จัดการแจ้งโอนเงิน</a></li>
                <li><a href="/admin/tranfer_date"> จัดการรอบโอนเงิน</a></li>
                <li><a href="/admin/balance"> บัญชีการเงินระบบ</a></li>    
                <li><a href="/admin/problem"> จัดการออเดอร์มีปัญหา</a></li>                  
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->


@section('content')

@endsection 


<!-- FOOTER -->
<footer id="footer" style="background-color: #ffffff">


    <!-- bottom footer -->
    <div id="bottom-footer" style="background-color: #ffffff" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    ระบบผู้ดูแลเว็บไซต์
                    <span class="copyright">
					MEBAG.COM
							</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/slick.min.js"></script>
<script src="../assets/js/nouislider.min.js"></script>
<script src="../assets/js/jquery.zoom.min.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/datatables.js"></script>
<script !src="">
    function extraTicketAttachment() {
        jQuery("#fileUploadsContainer").append('<input type="file" name="attachments[]" class="form-control" />')
    }
</script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    $(document).ready(function() {
        $('#dataaccept').DataTable();
    } );
    $(document).ready(function() {
        $('#datareject').DataTable();
    } );
</script>
<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>
</body>
</html>
